#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 > #backgroundBox {
  background-color: #1BDAF1;
  position: absolute;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 > #alignmentBox {
  position: relative;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Image {
  position: absolute;
  width: 159.0px;
  height: 792.9999999999998px;
  -webkit-transform: rotate(270.0deg);
  -moz-transform: rotate(270.0deg);
  transform: rotate(270.0deg);
  filter:  saturate(200.0%);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Image_1 {
  position: absolute;
  width: 157.99999999999994px;
  height: 140.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_2 {
  position: absolute;
  width: 475.7939453124998px;
  min-height: 178.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Ink Free',Arial;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Ink Free',Arial;
  font-size: 54.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Ink Free',Arial;
  font-size: 54.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_6 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_6 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_6 > .backgroundLayer > .colorLayer {
  background-color: #091986;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_6 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_6 span {
  color: #1BDAF1;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_6 span#rtr-s-Button_6_0 {
  color: #1BDAF1;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_7 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_7 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_7 > .backgroundLayer > .colorLayer {
  background-color: #091986;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_7 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_7 span {
  color: #1BDAF1;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_7 span#rtr-s-Button_7_0 {
  color: #1BDAF1;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_8 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_8 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_8 > .backgroundLayer > .colorLayer {
  background-color: #091986;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_8 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_8 span {
  color: #1BDAF1;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_8 span#rtr-s-Button_8_0 {
  color: #1BDAF1;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_9 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_9 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_9 > .backgroundLayer > .colorLayer {
  background-color: #091986;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_9 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_9 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_9 span {
  color: #1BDAF1;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_9 span#rtr-s-Button_9_0 {
  color: #1BDAF1;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_10 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_10 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_10 > .backgroundLayer > .colorLayer {
  background-color: #091986;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_10 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_10 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_10 span {
  color: #1BDAF1;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_10 span#rtr-s-Button_10_0 {
  color: #1BDAF1;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Image_2 {
  position: absolute;
  width: 184.5px;
  height: 141.7914192818772px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Rectangle_5 {
  position: absolute;
  width: 185.00000019820982px;
  min-height: 713.0000000000005px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #091986;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Rectangle_5 span {
  color: #1BDAF1;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #1BDAF1;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_11 {
  position: absolute;
  width: 71.60395988730488px;
  min-height: 64.84375px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_11 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_11 > .borderLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_11 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_11 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_11 span#rtr-s-Button_11_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_51 {
  position: absolute;
  width: 146.95298939270947px;
  min-height: 337.7368421052631px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_51 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_51 .valign {
  vertical-align: top;
  text-align: center;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_51 span {
  color: #1BDAF1;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_51 span#rtr-s-Paragraph_51_0 {
  color: #1BDAF1;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_7 {
  position: absolute;
  width: 149.55787953559616px;
  min-height: 96.49624060150359px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: center;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_7 span {
  color: #1BDAF1;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #1BDAF1;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Rectangle_1 {
  position: absolute;
  width: 183.017760265859px;
  min-height: 711.0000000000005px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #091986;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_1 {
  position: absolute;
  width: 71.61102589436143px;
  min-height: 64.84375px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_1 > .borderLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_1 {
  position: absolute;
  width: 146.96709693341222px;
  min-height: 337.7368421052631px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_1 span {
  color: #1BDAF1;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #1BDAF1;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_3 {
  position: absolute;
  width: 149.5722371467051px;
  min-height: 96.49624060150359px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: center;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_3 span {
  color: #1BDAF1;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #1BDAF1;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Rectangle_2 {
  position: absolute;
  width: 182.99999999487886px;
  min-height: 711.0000000000005px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #091986;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Rectangle_2 span {
  color: #1BDAF1;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #1BDAF1;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_2 {
  position: absolute;
  width: 71.60395980640851px;
  min-height: 64.84375px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_2 > .borderLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_4 {
  position: absolute;
  width: 146.9529892311955px;
  min-height: 337.73684210526324px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: center;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_4 span {
  color: #1BDAF1;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #1BDAF1;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_5 {
  position: absolute;
  width: 149.55787937121931px;
  min-height: 96.49624060150347px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: center;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_5 span {
  color: #1BDAF1;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #1BDAF1;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Rectangle_3 {
  position: absolute;
  width: 183.0000001982096px;
  min-height: 711.0000000000005px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #091986;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_3 {
  position: absolute;
  width: 71.60395988730511px;
  min-height: 64.84375px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_3 > .borderLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_6 {
  position: absolute;
  width: 146.95298939270947px;
  min-height: 337.7368421052631px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: center;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_6 span {
  color: #1BDAF1;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #1BDAF1;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_8 {
  position: absolute;
  width: 149.55787953559638px;
  min-height: 96.49624060150359px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: center;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_8 span {
  color: #1BDAF1;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #1BDAF1;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Image_3 {
  position: absolute;
  width: 142.50888061523494px;
  height: 143.49999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Image_4 {
  position: absolute;
  width: 149.0px;
  height: 142.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Image_5 {
  position: absolute;
  width: 151.0px;
  height: 143.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Image_6 {
  position: absolute;
  width: 153.0px;
  height: 142.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_4 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_4 > .backgroundLayer > .colorLayer {
  background-color: #091986;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_4 span {
  color: #1BDAF1;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #1BDAF1;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c2f647b5-7e56-4e68-8626-459b9e2409e9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}